<form class="form-inline">
<div class="input-group">
      	<select class="form-control">
		<option>Property Type</option>
      			<span class="input-group-btn">
        	<button class="btn btn-success green" type="button"><strong>Sign up</strong></button>
		</select>
<input type="text" class="form-control" placeholder="Max Price">

</form>