body {
background:#fff;
font-size:12px;
}
h1,h2,h3,h4,h5{
color:#003368;
}
.container {
	max-width:1000px;
}
#stepnavs {
	list-style:none;
}
#first {
	padding:20px;
	float:right;
	position:relative;
	min-height:250px;
	width:100%;
}
#second {
	margin-top:10px;
	padding:20px;
	float:right;
	position:relative;
	min-height:250px;
	width:100%;
}

#konga {
	padding:20px;
}
#konga img {
	position:relative;
	margin-left:12px;
	min-height:250px;
	width:100%;
	margin-top:10px;
	
}
#usernav  {
	height:30px;
	background-color:#707071;
	
}
#usernav a {
		color:#fff;
		font-size:10px;
		margin:5px;
		padding:5px;
		float:right;
}

#topnav img {
	margin-bottom:-10px;
	margin-left:-30px;
}
#homenav {
	margin-top:15px;
	margin-bottom:4px;}
#list-property{
	margin-top:20px;
}
#list-property a {
	float:right;
	margin-right:-15px;
	border-radius:0;
}
#homesearch {
	background:url(images/searchbg.png) repeat-x;
	max-width:1000px;
	min-height: 300px;
}
#browsebg{
	background:url(images/searchbg.png) repeat-x;
	margin-top:-23px;
}
#subfp img{
	float:left;
	width:100%;
	min-height:100px;
	padding-left:-30px;
	}
#searchform {
	top:30px;
	position:relative;
	margin-left:10px;
	margin-right:-20px;
}
#searchform #fpform {
	background:#fff;
	padding:10px;
}
#searchform .control {
	width:180px;
	margin-left:4px;
	border-radius:0;
}
#searchform #fulltext .form-control {
	width:600px;
	display:none;
	border-radius:0;
}

.fulltext {
	width:100px;
	border-radius: 0 0 6px 6px;
	color:#fff;
    cursor:pointer;
}
.movup {
	margin-top:-30px;
}
#frontpg .form-inline {
	margin-top:201px;
}
#accountDetails>.nav > li.active > a,
#accountDetails>.nav > li.active > a:hover,
#accountDetails>.nav > li.active > a:focus {
  color: #000;
  background-color: #24A95C;
}

	
#navtabs>.nav > li > a:hover,
#navtabs>.nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;;
  border-bottom:4px solid #24A95C;

}

#navtabs >.nav-pills > li {
  float: left;
}
#navtabs>.nav-pills > li > a {
  color:#000;
  border-radius: 0;
  border-right:1px solid #ccc;
}
#navtabs>.nav-pills > li:last-child > a {
	border-right:none;
}

#navtabs>.nav-pills > li + li {
  margin-left: 2px;
}
#navtabs>.nav-pills > li.active > a,
#navtabs>.nav-pills > li.active > a:hover,
#navtabs>.nav-pills > li.active > a:focus {
  color: #000;
  background-color: #fff;
  border-bottom:3px solid #24A95C;
}



footer{
	
	background-image:url(images/ftbg.png);
	background-size:cover;
	position:relative;
	
	margin-right:-15px;
	margin-left:-15px;
	color:#819575;
	font-size:12px;
	
}
#nextToFt {
	border-top: 10px solid #fff;
	font-size:12px;
	background:url(images/nextToFt.png) repeat;
}
#subscribeft {
	background:#52d088;
	position:relative;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:40px;
	float:right;
	padding-left:12px;
	padding-right:12px;
	padding-bottom:20px;
	width:247px;
	height:148px;
}
#subscribeft .form-inline input {
	border-radius:0;
}
#subscribeft .form-inline button {
	border-radius:0;
}
#social {
	
	position:relative;
	margin-top:40px;
	margin-bottom:38px;
	margin-left:40px;
	float:left;
	width:200px;
	height:148px;
}

.ftlist {
	
	position:relative;
	margin-top:40px;
	margin-right:15px;
	margin-left:10px;
	float:left;
	}
.ftlist h5 {
	color:#fff;
	
	}
.ftlist a {
	color:#fff;
	
}
	
.subscribe {
	background:#52d088;
}
.green {
	background:#24A95C;
}
.blue {
	background:#287BE6;
}
label .req {
	color:red;
}
.breadcrumb {
	border-radius:0;
	margin-top:5px;
}
.breadcrumb >li>a {
	color:#52d088;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">>\00a0";
}
.row-inset {
	margin-right:-30px;
  	margin-left:-30px;
}
.row-inset .breadcrumbs {
	border-radius:0;
}
#login-divider{
	border-right: 2px solid #eee;
}

.well {
	border-radius:0;
}
.error {
	color:red;
	list-style:none;
}
.vertleft {
	border-left:2px solid #ccc;
}
.vertright {
	border-left:2px solid #ccc;
}
#detail #main-content .big-image {
	border:1px solid #ccc;
	margin-left:15px;
	height:380px;
	padding:10px;
}
#price-box {
	
	border:1px solid #24A95C;
}
#detail #main-content .big-image .carousel-inner> .item>img {
	width: 416px;
height: 312px;
}
#viewdetail #main-content .big-image .carousel-inner> .item>img {
	width: 416px;
height: 312px;
}
#viewdetail #main-content .big-image {
	border:1px solid #ccc;
	padding:10px;
	padding-top:45px;
}
#viewdetail #main-content #carousel-kaniru .thumbnail-controls {
margin-right: 10px;
margin-top: 30px;
white-space: nowrap;
text-align: center;
width: 436px;
}
#viewdetail #main-content #carousel-kaniru .thumbnail-controls .thumbnail-slider{
display: inline-block;
vertical-align: middle;
zoom: 1;
overflow: hidden;
width: 366px;
height: 67px;
}
#viewdetail #main-content #carousel-kaniru .thumbnail-controls .thumbnail-slider .slider-bar  a {
	margin-right:3px;
	border:1px solid #e6e6e6;
}

#viewdetail #main-content #carousel-kaniru .thumbnail-controls .thumbnail-slider .slider-bar  a.active {
	border:1px solid #24A95C;
}

#viewdetail #main-content #carousel-kaniru .thumbnail-controls .thumbnail-slider .slider-bar a[data-to] {
	display:inline-block;
}
#viewdetail #main-content #carousel-kaniru .thumbnail-controls .thumbnail-slider .slider-bar a img {
	margin:5px;
	width:75px;
	height:55px;
}


#viewdetail #main-content #carousel-kaniru .thumbnail-controls .thumbnail-slider .slider-bar{
-webkit-transition: margin .6s ease-out;
-moz-transition: margin .6s ease-out;
-o-transition: margin .6s ease-out;
transition: margin .6s ease-out;
}
.controls {
	position:relative;
	color:#24A95C;
	margin-top:10px;
}
#featuredproducts {
overflow: hidden;
border-top: 5px solid #24A95C;
background: #f1f4f1;
padding: 15px;
}
#featuredproducts-carousel  {
	margin-bottom:-30px;
}
#featuredproducts-carousel .carousel-inner {
margin: 0 10px;
width: auto;
}
#featuredproducts-carousel .carousel-inner {
	overflow:hidden;
	tex-align:center;
}

#featuredproducts-carousel .carousel-inner .item {
text-align: center;
}
#featuredproducts-carousel> .carousel-inner>.item> a>img {
	width:140px;
	height:110px;

}
#featuredproducts-carousel .carousel-inner .item a {
position: relative;
border: 1px solid #ccc;
padding: 5px;
display: inline-block;
vertical-align: top;
zoom: 1;
margin-left: 15px;
text-decoration: none;
width: 160px;
height:auto;
-webkit-transition: background,0.4s;
-moz-transition: background,0.4s;
-o-transition: background,0.4s;
transition: background,0.4s;
}
#featuredproducts-carousel .carousel-inner .item a h4 {
-webkit-transition: color,0.4s;
-moz-transition: color,0.4s;
-o-transition: color,0.4s;
transition: color,0.4s;
font-weight:bold;
overflow: hidden;
}
#featuredproducts-carousel .carousel-inner .item a:hover h4 {
	color:#ff7500;
}
#featuredproducts-carousel .carousel-inner .item a .price {
color: #003368;
white-space: nowrap;
margin: 5px;
height: 1em;
}
#featuredproducts-carousel .carousel-inner .item a .listingdetails {
margin-bottom: 5px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
color:#000;
}
#browsedetails {
	 border:2px solid #287BE6;
	 margin-bottom:20px;
	}
#browsedetails #detailthumb {
	margin-top:10px;
	border-radius:0px;

}

.shadow{
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 0 5px;
-moz-box-shadow: rgba(0,0,0,0.3) 0 0 5px;
box-shadow: rgba(0,0,0,0.3) 0 0 5px;
}
.bshadow {
		-webkit-box-shadow: rgba(0,0,0,0.3) 0 0 5px;
-moz-box-shadow: rgba(0,0,0,0.3) 0 0 5px;
box-shadow: rgba(0,0,0,0.3) 0 0 5px;
}
#topproducts {
overflow: hidden;
background: #fff;
padding: 15px;
}
#topproducts-carousel  {
	margin-bottom:-45px;
}

#topproducts-carousel .carousel-inner {
margin: 0 10px;
width: auto;
}
#topproducts-carousel .carousel-inner {
	overflow:hidden;
	text-align:center;
}

#topproducts-carousel .carousel-inner .item {
text-align: center;
}
#topproducts-carousel> .carousel-inner>.item> a>img {
	width:140px;
	height:110px;

}
#topproducts-carousel .carousel-inner .item a {
position: relative;
border: 1px solid #ccc;
padding: 5px;
display: inline-block;
vertical-align: top;
zoom: 1;

text-decoration: none;
width: 300px;
height:auto;
-webkit-transition: background,0.4s;
-moz-transition: background,0.4s;
-o-transition: background,0.4s;
transition: background,0.4s;
}
#topproducts-carousel .carousel-inner .item a h4 {
-webkit-transition: color,0.4s;
-moz-transition: color,0.4s;
-o-transition: color,0.4s;
transition: color,0.4s;
font-weight:bold;
overflow: hidden;
}

#topproducts-carousel .carousel-inner .item a:hover h4 {
	color:#ff7500;
}
#topproducts-carousel .carousel-inner .item a .price {
color: #003368;
white-space: nowrap;
margin: 5px;
height: 1em;
}
#topproducts-carousel .carousel-inner .item a .listingdetails {
margin-bottom: 5px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
color:#000;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: none;
}

#draggable{
overflow: hidden;
width: 300px;
height: auto;
color: #363636;
background-color: #AAAAAA;
border: 3px solid #AAAAAA;
position: fixed;
z-index: 8888;
box-shadow: 3px 3px 2px #666666;
line-height: 1.2em;
margin: 0px;
padding: 0px;
font-family: Verdana, Arial, sans;
cursor:move;
}

#draggable .panel .panel-body >ul>li>a {
	line-height: 1.2em;
	color: #363636;
	display: block;
	border-bottom: 1px solid #cdcdcd;
	padding: 4px 0px 3px 6px;
}
#searchbrowse {
	top: 100px;
	right:5px;
	background:#fff;
}
#searchbrowse form {
	padding:10px;
	
}
#searchbrowse .form-control {
	width:145px;
	border-radius:0;
}
#listing-view .form-control, #listing-agent-details .form-control {
	border-radius:0;
}