  	
	<div class=" col-md-8">
		
		<div class="form-group">
		${form.label("address*", class_="col-sm-4 col-md-4 col-lg-4 control-label")}
			<div class="col-sm-8 col-md-8 col-lg-8">
		${form.text("address", class_ = "form-control")}
		${form.errorlist("address")}
			</div>
		</div>
		
		

		</div>
	<div class=" col-md-4">

		</div>
