
<div class="row">
	%if files:
		%for file in files:
			<div class="col-md-12 col-sm-12 alert alert-success" style="padding:10px;">
		<img src="${request.storage.url(file)}" class="img-responsive thumbnail pull-left" height="120" width='100'>
<a href="${request.route_url('delete_upload', filename=file)}" class="btn pull-right">delete&times;</a>
				</div>
<hr>
		%endfor
	%endif
</div>