<%inherit file="kaniru:templates/base/base.mako"/>
<div class="row row-inset">
	<div class="col-sm-12 col-md-12">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Kaniru - Terms and Conditions</h3>
  	</div>
  	<div class="panel-body">
<h2>Terms and Conditions</h2>
<h3> Introduction</h3>
  Welcome to the kaniru.com.ng website (hereinafter the "Site"). These terms and conditions ("Terms and Conditions") apply to the Site, and all of its divisions, subsidiaries, and affiliate operated Internet sites which reference these Terms and Conditions. By accessing the Site, you confirm your understanding of the Terms and Conditions. If you do not agree to these Terms and Conditions of use, you shall not use this website. The Site reserves the right to change, modify, add, or remove portions of these Terms and Conditions of use at any time. Changes will be effective when posted on the Site with no other notice provided. Please check these Terms and Conditions of use regularly for updates. Your continued use of the Site following the posting of changes to these Terms and Conditions of use constitutes your acceptance of those changes.


<h3>Use of the Site</h3>
 You are either at least 18 years of age or are accessing the Site under the supervision of a parent or legal guardian. We grant you a non-transferable and revocable license to use the Site, under the Terms and Conditions described, for the purpose of shopping for personal items sold on the Site. Commercial use or use on behalf of any third party is prohibited, except as explicitly permitted by us in advance. Any breach of these Terms and Conditions shall result in the immediate revocation of the license granted in this paragraph without notice to you. Content provided on this site is solely for informational purposes. Product representations expressed on this Site are those of the vendor and are not made by us. Submissions or opinions expressed on this Site are those of the individual posting such content and may not reflect our opinions. Certain services and related features that may be made available on the Site may require registration or subscription. Should you choose to register or subscribe for any such services or related features, you agree to provide accurate and current information about yourself, and to promptly update such information if there are any changes. Every user of the Site is solely responsible for keeping passwords and other account identifiers safe and secure. The account owner is entirely responsible for all activities that occur under such password or account. Furthermore, you must notify us of any unauthorized use of your password or account. The Site shall not be responsible or liable, directly or indirectly, in any way for any loss or damage of any kind incurred as a result of, or in connection with, your failure to comply with this section. During the registration process you agree to receive promotional emails from the Site. You can subsequently opt out of receiving such promotional e-mails by clicking on the link at the bottom of any promotional email.

<h3>Abusing "Kaniru"</h3>
  Kaniru and its community work together to keep our sites and services working properly and the community safe. Please report problems, offensive content and policy breaches to us. We work to ensure that listed items do not infringe upon the copyright, trademark or other intellectual property rights of third parties. If you believe that your intellectual property rights have been infringed, please notify our team and we will investigate.


<h3>User Submissions</h3>
  Anything that you submit to the Site and/or provide to us, including but not limited to, questions, reviews, comments, and suggestions (collectively, "Submissions") will become our sole and exclusive property and shall not be returned to you. In addition to the rights applicable to any Submission, when you post comments or reviews to the Site, you also grant us the right to use the name that you submit, in connection with such review, comment, or other content. You shall not use a false e-mail address, pretend to be someone other than yourself or otherwise mislead us or third parties as to the origin of any Submissions. We may, but shall not be obligated to, remove or edit any Submissions.

<h3>Classified Acceptance and Pricing</h3>
 Please note that there are cases when a classified cannot be processed for various reasons. The Site reserves the right to refuse or cancel any classified for any reason at any given time. You may be asked to provide additional verification or information, including but not limited to phone number and address, before we accept to publish the classified. We are determined to provide the most accurate information on the Site to our users; however, errors may still occur, such as cases when the price of an item is not displayed correctly on the website. As such, we reserve the right to refuse or cancel any order. In the event that an item is mispriced, we may, at our own discretion, either contact you for instructions or cancel your classified and notify you of such cancellation. We shall have the right to refuse or cancel any such classifieds whether or not the classified has been confirmed.


 <h3>Legal Disputes</h3>
  If a dispute arises between you and "Kaniru", our goal is to provide you with a neutral and cost effective means of resolving the dispute quickly. Accordingly, you and "Kaniru" agree that we will resolve any claim or controversy at law or equity that arises out of this Agreement or our services in accordance with one of the subsections below or as we and you otherwise agree in writing. Before resorting to these alternatives, we strongly encourage you to first contact us directly to seek a resolution. We will consider reasonable requests to resolve the dispute through alternative dispute resolution procedures, such as arbitration, as alternatives to litigation.

<h3>Applicable Law and Jurisdiction</h3>
  These Terms and Conditions shall be interpreted and governed by the laws in force in the Federal Republic of Nigeria. Subject to the Arbitration section below, each party hereby agrees to submit to the jurisdiction of the courts of Nigeria and to waive any objections based upon venue.

<h3>Arbitration</h3>
  Any controversy, claim or dispute arising out of or relating to these Terms and Conditions will be referred to and finally settled by private and confidential binding arbitration before a single arbitrator held in Nigeria in English and governed by Nigerian law pursuant to the Arbitration and Conciliation Act Cap A18 Laws of the Federation of Nigeria 2004 (Rules of Commercial Conciliation and Arbitration of 1994 (Dubai), as amended, replaced or re-enacted from time to time. The arbitrator shall be a person who is legally trained and who has experience in the information technology field in Nigeria and is independent of either party. Notwithstanding the foregoing, the Site reserves the right to pursue the protection of intellectual property rights and confidential information through injunctive or other equitable relief through the courts.


<h3>Privacy</h3>
 We do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. We use your information only as described in the "Kaniru" Privacy and Confidentiality Policy. We view protection of users' privacy as a very important community principle. We store and process your information on computers that are protected by physical as well as technological security devices. You can access and modify the information you provide us and choose not to receive certain communications by signing-in to your account. We use third parties to verify and certify our privacy principles. For a complete description of how we use and protect your personal information, see the "Kaniru" Privacy and Confidentiality Policy. If you object to your information being transferred or used in this way please do not use our services.


<h3>Indemnity</h3>
  You will indemnify and hold us (and our officers, directors, agents, subsidiaries, joint ventures and employees) harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your breach of this Agreement, or your violation of any law or the rights of a third party.


<h3>No Agency</h3>
  No agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship is intended or created by this Agreement.


<h3>Notices</h3>
  We shall send notices to you by email to the email address you provide to "Kaniru" during the registration process. Notice shall be deemed given 24 hours after email is sent, unless the sending party is notified that the email address is invalid. Alternatively, we may give you legal notice by registered mail to the address provided during the registration process. Notices sent to you by registered mail shall be deemed to have been received by that party three days after the date of mailing.</p>


<h3>Termination</h3>
 In addition to any other legal or equitable remedies, we may, without prior notice to you, immediately terminate the Terms and Conditions or revoke any or all of your rights granted under the Terms and Conditions. Upon any termination of this Agreement, you shall immediately cease all access to and use of the Site and we shall, in addition to any other legal or equitable remedies, immediately revoke all password(s) and account identification issued to you and deny your access to and use of this Site in whole or in part. Any termination of this agreement shall not affect the respective rights and obligations (including without limitation, payment obligations) of the parties arising before the date of termination. You furthermore agree that the Site shall not be liable to you or to any other person as a result of any such suspension or termination. If you are dissatisfied with the Site or with any terms, conditions, rules, policies, guidelines, or practices of Kaniru Communications in operating the Site, your sole and exclusive remedy is to discontinue using the Site.

</div>
</div>
</div>
</div>
<%def name="breadcrumb()">
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Kaniru - terms and condition</li>
</ol>
</%def>

