<form class="formft">
		
      	<select class="">
		<option>Property Type</option>
		</select>
		
		
<input type="text" class="" placeholder="Max Price">
      	<select class="">
		<option>Min Beds</option>
		</select>
		
	<button  type="submit" class="btn btn-success blue" style="border-radius:0"><span class="glyphicon glyphicon-search"></button>
</form>