

<div class="row">
	%if len(files):
		%for file in files:
			<div class="col-md-3">
		<img src="${request.storage.url(file)}" class="img-responsive" height="80" width="55">
				</div>
		%endfor
	%endif
</div>