<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Property Details</h3>
  </div>
  	<div class="panel-body">
	<div class=" col-md-8">
		
		<div class="form-group">
		${form.label("description*", class_="col-sm-4 col-md-4 col-lg-4 control-label")}
			<div class="col-sm-8 col-md-8 col-lg-8">
		${form.textarea("description",rows=15,cols=10, class_ = "form-control")}
		${form.errorlist("description")}
			</div>
		</div>
		</div>
	<div class=" col-md-4">

		</div>


</div>
</div>



