<%inherit file="kaniru:templates/base/base.mako" />
<div class="row" id="browsebg" style="padding:10px;">
	<div class="col-md-2" style="top:100px;margin-right:5px;">
			</div>
	<div class='col-md-6'>

		${next.body()}
			</div>
	<div class="col-md-4">


			</div>
</div>